src/pug/pages/about.pug
extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title О компании

        .ui__content_wrapper
            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-8
                            p Основным направлением нашей деятельности является создание мебельных фасадов, так как именно они задают стиль помещения, привносят атмосферу гармонии и уюта, формируют неповторимый индивидуальный интерьер.
                            p С 2003 года мы производим для Вас мебельные фасады европейского уровня на высокотехнологичном оборудовании.  За это время мы зарекомендовали себя надежным партнером, нашими клиентами стали производители мебели по всей России. Наши производственные площади составляют более 5 тыс. кв. м.
                            p Современные технологические линии позволяют нам выпускать фасады сложных криволинейных форм, нестандартных размеров, со сложной фрезеровкой, радиусные фасады в алюминиевом профиле.
                            p Мы вдохновлены работой по созданию лица Вашей будущей мебели и, используя накопленный опыт, наладили выпуск практически всех существующих на сегодняшний день видов фасадов с разными технологиями изготовления (краска, натуральный шпон, массив, пленка ПВХ, пластик).
                            p Помимо мебельных фасадов мы производим большой ассортимент декоративных элементов для мебели: карнизы, пилястры, фризы, балюстрады, арки, дверные накладки (в шпоне и пленке),  а так же экраны и накладки на изголовье кровати.

                            .ui__content_slider.ui__imgslider.ui__imgslider-titled.owl-carousel.js_imgslider
                                include ../blocks/_ui_imgslider
                                +ui__imgslider(
                                    true,
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание1'
                                    },
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание2'
                                    },
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание3'
                                    }
                                )

                        .col.col--md-4
                            +ui__card('5 000 м<sup>2</sup>', 'Общая производственная площадь', false)


            section.ui__content_section
                .grid.grid--container
                    .row.ui__content_row
                        .col.col--xs-12
                            h2.ui__content_subtitle Наш продукт
                    .row.ui__content_row
                        .col.col--md-6
                            h4.ui__content_subheader Фасады из МДФ, покрытые пленкой ПВХ
                            p Мы используем пленку ПВХ толщиной 0,35-0,45мм. Такая толщина обеспечивает отсутствие шагрени на изделии и высокую износоустойчивость при эксплуатации. <br>Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету.
                            p Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету.

                        .col.col--md-6
                            h4.ui__content_subheader Фасады, покрытые пластиком
                            p Использование высокотехнологичного оборудования позволяет нам производить фасады с радиусными отполированными краями и повторять рельеф текстурированного пластика.
                            p Использование малонаполненных клеев и качественного кромочного материала позволяет добиться тонкого малозаметного клеевого шва.

                    .row.ui__content_row
                        .col.col--md-6
                            h4.ui__content_subheader Фасады, с лакокрасочным покрытием
                            p Наше производство, единственное в регионе, оснащено большими покрасочными камерами, позволяющими красить поверхности длиной до 3 м.
                        .col.col--md-6
                            h4.ui__content_subheader Фасады, покрытые шпоном
                            p Наше оборудование позволяет покрывать шпоном не только плоские поверхности, но и полностью филенку.
                            p Мы изготавливаем шпонированные фасады с красивой сложной фрезеровкой

                    .row.ui__content_row
                        .col.col--md-6
                            h4.ui__content_subheader Фасады из массива
                            p У нас широкая линейка фасадов из массива (дуб, бук)


            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--xs-12
                            h2.ui__content_subtitle Наша история

                .grid.no-padding
                    .row
                        .col.col--xs-12
                            .ui__timeslider.owl-carousel.js_timeslider
                                include ../blocks/_ui_timeslider
                                +ui__timeslider(
                                    {
                                        count: '2003',
                                        text: 'Начало производства <br>фасадов из МДФ, <br>покрытых пленкой ПВХ.'
                                    },
                                    {
                                        count: '2006',
                                        text: 'Начало производства фасадов из МДФ с лакокрасочным покрытием.'
                                    },
                                    {
                                        count: '2009',
                                        text: 'Начало производства фасадов из МДФ, покрытых пластиком.'
                                    },
                                    {
                                        count: '2012',
                                        text: 'Начало производства фасадов из МДФ, покрытых пластиком.'
                                    },
                                    {
                                        count: '2014',
                                        text: 'Начало производства фасадов из МДФ, покрытых пластиком.'
                                    },
                                    {
                                        count: '2016',
                                        text: 'Начало производства фасадов из МДФ, покрытых пластиком.'
                                    }
                                )


            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--xs-12
                            h2.ui__content_subtitle Наши принципы
                    .row
                        .col.col--md-8
                            p Фабрика Фасадов «Пастернак» с огромной ответственностью и профессионализмом относится к своему делу. Мы уважаем и ценим своих клиентов и придерживаемся следующих принципов в работе:

                    .ui__content_card_wrap
                        .row.ui__content_card_row
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-check
                                    .ui__content_card_text Интересы клиента имеют наивысший приоритет.
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-molecule
                                    .ui__content_card_text Применение инновационных технологий производства.
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-hands
                                    .ui__content_card_text Честные партнерские отношения с клиентами.

                        .row.ui__content_card_row
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-calendar
                                    .ui__content_card_text Четкое соблюдение сроков выполнения заказа.
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-idea
                                    .ui__content_card_text Постоянный поиск и реализация ярких дизайнерских решений.
                            .col.col--md-4
                                .ui__content_card
                                    i.ui__content_card_ico.ui__icon.ui__icon-target
                                    .ui__content_card_text Эффективные коммуникации.

                    .row
                        .col.col--md-8
                            p Мы будем рады сотрудничеству с Вами и  гарантируем Вам благодарных заказчиков, которые останутся довольны нашими фасадами.
                            p С уважением к Вашему делу, <br>Фабрика Фасадов «Пастернак»


block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call

dist/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
    <link href="/assets/favicons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/assets/favicons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/assets/favicons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/assets/favicons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/assets/favicons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/assets/favicons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/assets/favicons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/assets/favicons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/assets/favicons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link type="image/png" href="/assets/favicons/android-icon-192x192.png" rel="icon" sizes="192x192">
    <link type="image/png" href="/assets/favicons/favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/png" href="/assets/favicons/favicon-96x96.png" rel="icon" sizes="96x96">
    <link type="image/png" href="/assets/favicons/favicon-16x16.png" rel="icon" sizes="16x16">
    <link href="/assets/favicons/manifest.json" rel="manifest">
    <meta name="msapplication-TileColor" content="#fafbfc">
    <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
    <title>Пастернак – фабрика фасадов
    </title>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      Вы используете <strong>устаревший</strong> браузер.
      Пожалуйста <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>
      чтобы воспользоваться всем функционалом сайта.
    </p><![endif]-->
    <header class="header">
      <div class="header__top js_headertop">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <ul class="header__menu">
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">О компании</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Акции</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Новости</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Информация для покупателей</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Вакансии</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col col--md-4">
              <div class="header__contacts"><a class="header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__main js_headermain">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <div class="header__main_left">
                <div class="header__logo_wrap"><a class="header__logo" href="/"><img class="header__logo_img" src="../assets/img/logo.svg" alt="Пастернак"></a><a class="header__m_toggle js_mtoggle" href="javascript:void(0);"></a></div><a class="header__m_call ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a>
                <nav class="header__nav js_mobmenu" role="navigation">
                  <ul class="header__m_menu">
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">О компании</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Акции</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Новости</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Информация для покупателей</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Вакансии</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Контакты</a></li>
                  </ul>
                  <ul class="header__nav_inner">
                    <li class="header__nav_item header__nav_item-caret"><a class="header__nav_link js_mobsubmenu" href="#">Продукция</a>
                      <div class="header__submenu">
                        <div class="grid grid--container">
                          <div class="row">
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod1.jpg" alt="Фасады"></div>
                                <div class="header__submenu_title">Фасады</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod2.jpg" alt="Цвета"></div>
                                <div class="header__submenu_title">Цвета</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod3.jpg" alt="Сопутствующие"></div>
                                <div class="header__submenu_title">Сопутствующие</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod4.jpg" alt="Декор"></div>
                                <div class="header__submenu_title">Декор</div></a></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Сотрудничество</a></li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Продажа материалов</a></li>
                  </ul>
                  <div class="header__m_footer"><a class="header__m_phone header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="header__m_address header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__m_mail header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
                </nav>
              </div>
            </div>
            <div class="col col--md-4 m_hidden">
              <div class="header__main_right"><a class="header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main ui__content" role="main">
      <div class="ui__content_header">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--xs-12">
              <h1 class="ui__content_title">О компании</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="ui__content_wrapper">
        <section class="ui__content_section">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-8">
                <p>Основным направлением нашей деятельности является создание мебельных фасадов, так как именно они задают стиль помещения, привносят атмосферу гармонии и уюта, формируют неповторимый индивидуальный интерьер.</p>
                <p>С 2003 года мы производим для Вас мебельные фасады европейского уровня на высокотехнологичном оборудовании.  За это время мы зарекомендовали себя надежным партнером, нашими клиентами стали производители мебели по всей России. Наши производственные площади составляют более 5 тыс. кв. м.</p>
                <p>Современные технологические линии позволяют нам выпускать фасады сложных криволинейных форм, нестандартных размеров, со сложной фрезеровкой, радиусные фасады в алюминиевом профиле.</p>
                <p>Мы вдохновлены работой по созданию лица Вашей будущей мебели и, используя накопленный опыт, наладили выпуск практически всех существующих на сегодняшний день видов фасадов с разными технологиями изготовления (краска, натуральный шпон, массив, пленка ПВХ, пластик).</p>
                <p>Помимо мебельных фасадов мы производим большой ассортимент декоративных элементов для мебели: карнизы, пилястры, фризы, балюстрады, арки, дверные накладки (в шпоне и пленке),  а так же экраны и накладки на изголовье кровати.</p>
                <div class="ui__content_slider ui__imgslider ui__imgslider-titled owl-carousel js_imgslider">
                                                                        <div class="ui__imgslider_item"><img class="ui__imgslider_pic" src="../assets/img/production/single/slider1.jpg" alt="Описание1">
                                                                          <div class="ui__imgslider_title">Описание1</div>
                                                                        </div>
                                                                        <div class="ui__imgslider_item"><img class="ui__imgslider_pic" src="../assets/img/production/single/slider1.jpg" alt="Описание2">
                                                                          <div class="ui__imgslider_title">Описание2</div>
                                                                        </div>
                                                                        <div class="ui__imgslider_item"><img class="ui__imgslider_pic" src="../assets/img/production/single/slider1.jpg" alt="Описание3">
                                                                          <div class="ui__imgslider_title">Описание3</div>
                                                                        </div>
                </div>
              </div>
              <div class="col col--md-4">
                <div class="ui__card">
                  <div class="ui__card_count">5 000 м<sup>2</sup></div>
                  <div class="ui__card_text">Общая производственная площадь</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="ui__content_section">
          <div class="grid grid--container">
            <div class="row ui__content_row">
              <div class="col col--xs-12">
                <h2 class="ui__content_subtitle">Наш продукт</h2>
              </div>
            </div>
            <div class="row ui__content_row">
              <div class="col col--md-6">
                <h4 class="ui__content_subheader">Фасады из МДФ, покрытые пленкой ПВХ</h4>
                <p>Мы используем пленку ПВХ толщиной 0,35-0,45мм. Такая толщина обеспечивает отсутствие шагрени на изделии и высокую износоустойчивость при эксплуатации. <br>Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету.</p>
                <p>Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету.</p>
              </div>
              <div class="col col--md-6">
                <h4 class="ui__content_subheader">Фасады, покрытые пластиком</h4>
                <p>Использование высокотехнологичного оборудования позволяет нам производить фасады с радиусными отполированными краями и повторять рельеф текстурированного пластика.</p>
                <p>Использование малонаполненных клеев и качественного кромочного материала позволяет добиться тонкого малозаметного клеевого шва.</p>
              </div>
            </div>
            <div class="row ui__content_row">
              <div class="col col--md-6">
                <h4 class="ui__content_subheader">Фасады, с лакокрасочным покрытием</h4>
                <p>Наше производство, единственное в регионе, оснащено большими покрасочными камерами, позволяющими красить поверхности длиной до 3 м.</p>
              </div>
              <div class="col col--md-6">
                <h4 class="ui__content_subheader">Фасады, покрытые шпоном</h4>
                <p>Наше оборудование позволяет покрывать шпоном не только плоские поверхности, но и полностью филенку.</p>
                <p>Мы изготавливаем шпонированные фасады с красивой сложной фрезеровкой</p>
              </div>
            </div>
            <div class="row ui__content_row">
              <div class="col col--md-6">
                <h4 class="ui__content_subheader">Фасады из массива</h4>
                <p>У нас широкая линейка фасадов из массива (дуб, бук)</p>
              </div>
            </div>
          </div>
        </section>
        <section class="ui__content_section">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--xs-12">
                <h2 class="ui__content_subtitle">Наша история</h2>
              </div>
            </div>
          </div>
          <div class="grid no-padding">
            <div class="row">
              <div class="col col--xs-12">
                <div class="ui__timeslider owl-carousel js_timeslider">
                                                                        <div class="ui__timeslider_item">
                                                                          <div class="ui__timeslider_count">2003</div>
                                                                          <div class="ui__timeslider_text">Начало производства <br>фасадов из МДФ, <br>покрытых пленкой ПВХ.</div>
                                                                        </div>
                                                                        <div class="ui__timeslider_item">
                                                                          <div class="ui__timeslider_count">2006</div>
                                                                          <div class="ui__timeslider_text">Начало производства фасадов из МДФ с лакокрасочным покрытием.</div>
                                                                        </div>
                                                                        <div class="ui__timeslider_item">
                                                                          <div class="ui__timeslider_count">2009</div>
                                                                          <div class="ui__timeslider_text">Начало производства фасадов из МДФ, покрытых пластиком.</div>
                                                                        </div>
                                                                        <div class="ui__timeslider_item">
                                                                          <div class="ui__timeslider_count">2012</div>
                                                                          <div class="ui__timeslider_text">Начало производства фасадов из МДФ, покрытых пластиком.</div>
                                                                        </div>
                                                                        <div class="ui__timeslider_item">
                                                                          <div class="ui__timeslider_count">2014</div>
                                                                          <div class="ui__timeslider_text">Начало производства фасадов из МДФ, покрытых пластиком.</div>
                                                                        </div>
                                                                        <div class="ui__timeslider_item">
                                                                          <div class="ui__timeslider_count">2016</div>
                                                                          <div class="ui__timeslider_text">Начало производства фасадов из МДФ, покрытых пластиком.</div>
                                                                        </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="ui__content_section">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--xs-12">
                <h2 class="ui__content_subtitle">Наши принципы</h2>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-8">
                <p>Фабрика Фасадов «Пастернак» с огромной ответственностью и профессионализмом относится к своему делу. Мы уважаем и ценим своих клиентов и придерживаемся следующих принципов в работе:</p>
              </div>
            </div>
            <div class="ui__content_card_wrap">
              <div class="row ui__content_card_row">
                <div class="col col--md-4">
                  <div class="ui__content_card"><i class="ui__content_card_ico ui__icon ui__icon-check"></i>
                    <div class="ui__content_card_text">Интересы клиента имеют наивысший приоритет.</div>
                  </div>
                </div>
                <div class="col col--md-4">
                  <div class="ui__content_card"><i class="ui__content_card_ico ui__icon ui__icon-molecule"></i>
                    <div class="ui__content_card_text">Применение инновационных технологий производства.</div>
                  </div>
                </div>
                <div class="col col--md-4">
                  <div class="ui__content_card"><i class="ui__content_card_ico ui__icon ui__icon-hands"></i>
                    <div class="ui__content_card_text">Честные партнерские отношения с клиентами.</div>
                  </div>
                </div>
              </div>
              <div class="row ui__content_card_row">
                <div class="col col--md-4">
                  <div class="ui__content_card"><i class="ui__content_card_ico ui__icon ui__icon-calendar"></i>
                    <div class="ui__content_card_text">Четкое соблюдение сроков выполнения заказа.</div>
                  </div>
                </div>
                <div class="col col--md-4">
                  <div class="ui__content_card"><i class="ui__content_card_ico ui__icon ui__icon-idea"></i>
                    <div class="ui__content_card_text">Постоянный поиск и реализация ярких дизайнерских решений.</div>
                  </div>
                </div>
                <div class="col col--md-4">
                  <div class="ui__content_card"><i class="ui__content_card_ico ui__icon ui__icon-target"></i>
                    <div class="ui__content_card_text">Эффективные коммуникации.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-8">
                <p>Мы будем рады сотрудничеству с Вами и  гарантируем Вам благодарных заказчиков, которые останутся довольны нашими фасадами.</p>
                <p>С уважением к Вашему делу, <br>Фабрика Фасадов «Пастернак»</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="grid grid--container">
        <div class="row">
          <div class="col col--md-2"><img class="footer__logo" src="../assets/img/logo.svg"></div>
          <div class="col col--md-6">
            <ul class="footer__nav">
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продукция</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Сотрудничество</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">О компании</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Контакты</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Акции</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Вакансии</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Новости</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Информация для покупателей</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продажа материалов</a></li>
            </ul>
          </div>
          <div class="col col--md-4"><a class="ui__btn ui__btn-red footer__call js_modal" href="#m_letter">Напишите нам</a><a class="footer__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="footer__mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a><a class="footer__address" href="#" target="_blank">г. Рязань, Район Строитель, 7А</a>
            <ul class="footer__social">
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/fb.svg" alt="Facebook"></a></li>
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/vk.svg" alt="Facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="ui__modal zoom-anim-dialog mfp-hide" id="m_call">
      <h2 class="ui__modal_title">Заказать звонок</h2>
      <form class="ui__modal_form js_callform" action="" method="POST">
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_name">Имя</label>
          <input class="ui__modal_input" id="inp_name" name="inp_name" type="text" placeholder="Введите имя" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_phone">Телефон</label>
          <input class="ui__modal_input js_phone" id="inp_phone" name="inp_phone" type="text" placeholder="Введите телефон" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <div class="ui__checkbox">
            <input id="inp_check" type="checkbox" name="inp_check" checked="">
            <label class="ui__checkbox_lbl" for="inp_check">Даю соласие на <a href="/privacy">обработку данных</a></label>
          </div>
        </fieldset>
        <button class="ui__modal_btn ui__btn ui__btn-red" type="submit">Отправить</button>
      </form>
    </div>
    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/app.min.js"></script>
  </body>
</html>
