dist/catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
    <link href="/assets/favicons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/assets/favicons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/assets/favicons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/assets/favicons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/assets/favicons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/assets/favicons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/assets/favicons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/assets/favicons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/assets/favicons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link type="image/png" href="/assets/favicons/android-icon-192x192.png" rel="icon" sizes="192x192">
    <link type="image/png" href="/assets/favicons/favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/png" href="/assets/favicons/favicon-96x96.png" rel="icon" sizes="96x96">
    <link type="image/png" href="/assets/favicons/favicon-16x16.png" rel="icon" sizes="16x16">
    <link href="/assets/favicons/manifest.json" rel="manifest">
    <meta name="msapplication-TileColor" content="#fafbfc">
    <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
    <title>Пастернак – фабрика фасадов
    </title>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      Вы используете <strong>устаревший</strong> браузер.
      Пожалуйста <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>
      чтобы воспользоваться всем функционалом сайта.
    </p><![endif]-->
    <header class="header">
      <div class="header__top js_headertop">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <ul class="header__menu">
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">О компании</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Акции</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Новости</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Информация для покупателей</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Вакансии</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col col--md-4">
              <div class="header__contacts"><a class="header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__main js_headermain">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <div class="header__main_left">
                <div class="header__logo_wrap"><a class="header__logo" href="/"><img class="header__logo_img" src="../assets/img/logo.svg" alt="Пастернак"></a><a class="header__m_toggle js_mtoggle" href="javascript:void(0);"></a></div><a class="header__m_call ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a>
                <nav class="header__nav js_mobmenu" role="navigation">
                  <ul class="header__m_menu">
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">О компании</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Акции</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Новости</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Информация для покупателей</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Вакансии</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Контакты</a></li>
                  </ul>
                  <ul class="header__nav_inner">
                    <li class="header__nav_item header__nav_item-caret"><a class="header__nav_link js_mobsubmenu" href="#">Продукция</a>
                      <div class="header__submenu">
                        <div class="grid grid--container">
                          <div class="row">
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod1.jpg" alt="Фасады"></div>
                                <div class="header__submenu_title">Фасады</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod2.jpg" alt="Цвета"></div>
                                <div class="header__submenu_title">Цвета</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod3.jpg" alt="Сопутствующие"></div>
                                <div class="header__submenu_title">Сопутствующие</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod4.jpg" alt="Декор"></div>
                                <div class="header__submenu_title">Декор</div></a></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Сотрудничество</a></li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Продажа материалов</a></li>
                  </ul>
                  <div class="header__m_footer"><a class="header__m_phone header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="header__m_address header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__m_mail header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
                </nav>
              </div>
            </div>
            <div class="col col--md-4 m_hidden">
              <div class="header__main_right"><a class="header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main ui__content" role="main">
      <div class="ui__content_header ui__content_header-bread">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--xs-12">
              <div class="ui__breadcrumbs">
                <ul class="ui__breadcrumbs_list">
                  <li class="ui__breadcrumbs_item"><a class="ui__breadcrumbs_item_link" href="#">Продукция</a></li>
                </ul>
              </div>
              <h1 class="ui__content_title">Фасады по материалам</h1>
              <ui class="ui__content_nav">
                <li class="ui__content_nav_item"><a class="ui__content_nav_link" href="#sec1" data-type="scroll">Массив</a></li>
                <li class="ui__content_nav_item"><a class="ui__content_nav_link" href="#sec2" data-type="scroll">Натуральный шпон</a></li>
                <li class="ui__content_nav_item"><a class="ui__content_nav_link" href="#sec3" data-type="scroll">Пленка ТВХ</a></li>
                <li class="ui__content_nav_item"><a class="ui__content_nav_link" href="#sec4" data-type="scroll">В алюминиевом профиле</a></li>
                <li class="ui__content_nav_item"><a class="ui__content_nav_link" href="#sec5" data-type="scroll">Искуственная кожа</a></li>
              </ui>
            </div>
          </div>
        </div>
      </div>
      <div class="ui__content_wrapper">
        <section class="catalog__section" id="sec1">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-8">
                <h2 class="ui__content_subtitle">Массив дерева</h2>
                <p>Для фасадов мы используем итальянский пластик «Arpa», отличительной особенностью которого является широкий ассортимент глянцевых фантазийных и перламутровых декоров, а так же его высокое качество.</p>
                <p>Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность <br>все те качества, которые способствуют многопрофильному применению данного материала и позволяют дополнить интерьер необходимыми элементами.</p>
              </div>
              <div class="col col--md-4">
                <div class="ui__card ui__card-topped">
                  <div class="ui__card_count">20</div>
                  <div class="ui__card_text">лет — срок службы фасадов из пластика</div>
                </div>
              </div>
            </div>
            <div class="catalog__prodgrid">
                            <div class="row ui__prodgrid_row">
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat2.jpg" alt="Констанция"></div>
                                                              <div class="ui__prodgrid_title">Констанция</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat3.jpg" alt="Альберо диретто"></div>
                                                              <div class="ui__prodgrid_title">Альберо диретто</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat4.jpg" alt="Балтимора"></div>
                                                              <div class="ui__prodgrid_title">Балтимора</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat5.jpg" alt="Альберо луиза"></div>
                                                              <div class="ui__prodgrid_title">Альберо луиза</div></a>
                                            </div>
                            </div>
              <div class="catalog__prodgrid_more"><a class="catalog__prodgrid_btn ui__btn" href="#">Показать все</a></div>
            </div>
          </div>
        </section>
        <section class="catalog__section" id="sec2">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-8">
                <h2 class="ui__content_subtitle">Натуральный шпон</h2>
                <p>Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.</p>
                <p>Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.</p>
              </div>
              <div class="col col--md-4">
                <div class="ui__card ui__card-topped">
                  <div class="ui__card_count"><div class="ui__icon ui__icon-temp"></div></div>
                  <div class="ui__card_text">Фасады из шпона не деформируются под воздействием перепадов температур</div>
                </div>
              </div>
            </div>
            <div class="catalog__prodgrid">
                            <div class="row ui__prodgrid_row">
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat7.jpg" alt="Альберо дерево"></div>
                                                              <div class="ui__prodgrid_title">Альберо дерево</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat8.jpg" alt="Альберо техно"></div>
                                                              <div class="ui__prodgrid_title">Альберо техно</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat9.jpg" alt="Альберо двойка"></div>
                                                              <div class="ui__prodgrid_title">Альберо двойка</div></a>
                                            </div>
                            </div>
              <div class="catalog__prodgrid_more"><a class="catalog__prodgrid_btn ui__btn" href="#">Показать все</a></div>
            </div>
          </div>
        </section>
        <section class="catalog__section" id="sec3">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-8">
                <h2 class="ui__content_subtitle">Пленка ТВХ</h2>
                <p>Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.</p>
                <p>Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.</p>
              </div>
              <div class="col col--md-4">
                <div class="ui__card ui__card-topped">
                  <div class="ui__card_count">20</div>
                  <div class="ui__card_text">лет — срок службы фасадов из пластика</div>
                </div>
              </div>
            </div>
            <div class="catalog__prodgrid">
                            <div class="row ui__prodgrid_row">
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat7.jpg" alt="Констанция"></div>
                                                              <div class="ui__prodgrid_title">Констанция</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat8.jpg" alt="Альберо диретто"></div>
                                                              <div class="ui__prodgrid_title">Альберо диретто</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat9.jpg" alt="Балтимора"></div>
                                                              <div class="ui__prodgrid_title">Балтимора</div></a>
                                            </div>
                            </div>
              <div class="catalog__prodgrid_more"><a class="catalog__prodgrid_btn ui__btn" href="#">Показать все</a></div>
            </div>
          </div>
        </section>
        <section class="catalog__section" id="sec4">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-8">
                <h2 class="ui__content_subtitle">В алюминиевом профиле</h2>
                <p>Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.</p>
                <p>Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.</p>
              </div>
              <div class="col col--md-4">
                <div class="ui__card ui__card-topped">
                  <div class="ui__card_count">20</div>
                  <div class="ui__card_text">лет — срок службы фасадов из пластика</div>
                </div>
              </div>
            </div>
            <div class="catalog__prodgrid">
                            <div class="row ui__prodgrid_row">
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat7.jpg" alt="Констанция"></div>
                                                              <div class="ui__prodgrid_title">Констанция</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat8.jpg" alt="Альберо диретто"></div>
                                                              <div class="ui__prodgrid_title">Альберо диретто</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat9.jpg" alt="Балтимора"></div>
                                                              <div class="ui__prodgrid_title">Балтимора</div></a>
                                            </div>
                            </div>
              <div class="catalog__prodgrid_more"><a class="catalog__prodgrid_btn ui__btn" href="#">Показать все</a></div>
            </div>
          </div>
        </section>
        <section class="catalog__section" id="sec5">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-8">
                <h2 class="ui__content_subtitle">Искусственная кожа</h2>
                <p>Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.</p>
                <p>Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.</p>
              </div>
              <div class="col col--md-4">
                <div class="ui__card ui__card-topped">
                  <div class="ui__card_count">20</div>
                  <div class="ui__card_text">лет — срок службы фасадов из пластика</div>
                </div>
              </div>
            </div>
            <div class="catalog__prodgrid">
                            <div class="row ui__prodgrid_row">
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat7.jpg" alt="Констанция"></div>
                                                              <div class="ui__prodgrid_title">Констанция</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat8.jpg" alt="Альберо диретто"></div>
                                                              <div class="ui__prodgrid_title">Альберо диретто</div></a>
                                            </div>
                                            <div class="col col--md-3 col--sm-6 col--xs-12"><a class="ui__prodgrid_item js_catpreview" href="#">
                                                              <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat9.jpg" alt="Балтимора"></div>
                                                              <div class="ui__prodgrid_title">Балтимора</div></a>
                                            </div>
                            </div>
              <div class="catalog__prodgrid_more"><a class="catalog__prodgrid_btn ui__btn" href="#">Показать все</a></div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="grid grid--container">
        <div class="row">
          <div class="col col--md-2"><img class="footer__logo" src="../assets/img/logo.svg"></div>
          <div class="col col--md-6">
            <ul class="footer__nav">
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продукция</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Сотрудничество</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">О компании</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Контакты</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Акции</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Вакансии</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Новости</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Информация для покупателей</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продажа материалов</a></li>
            </ul>
          </div>
          <div class="col col--md-4"><a class="ui__btn ui__btn-red footer__call js_modal" href="#m_letter">Напишите нам</a><a class="footer__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="footer__mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a><a class="footer__address" href="#" target="_blank">г. Рязань, Район Строитель, 7А</a>
            <ul class="footer__social">
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/fb.svg" alt="Facebook"></a></li>
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/vk.svg" alt="Facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="ui__modal zoom-anim-dialog mfp-hide" id="m_call">
      <h2 class="ui__modal_title">Заказать звонок</h2>
      <form class="ui__modal_form js_callform" action="" method="POST">
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_name">Имя</label>
          <input class="ui__modal_input" id="inp_name" name="inp_name" type="text" placeholder="Введите имя" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_phone">Телефон</label>
          <input class="ui__modal_input js_phone" id="inp_phone" name="inp_phone" type="text" placeholder="Введите телефон" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <div class="ui__checkbox">
            <input id="inp_check" type="checkbox" name="inp_check" checked="">
            <label class="ui__checkbox_lbl" for="inp_check">Даю соласие на <a href="/privacy">обработку данных</a></label>
          </div>
        </fieldset>
        <button class="ui__modal_btn ui__btn ui__btn-red" type="submit">Отправить</button>
      </form>
    </div>
    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/app.min.js"></script>
  </body>
</html>

src/pug/pages/catalog.pug
extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                            {
                                text: 'Продукция',
                                link: '#',
                                plane: false
                            }
                        )

                        h1.ui__content_title Фасады по материалам

                        ui.ui__content_nav
                            li.ui__content_nav_item
                                a(href="#sec1" class="ui__content_nav_link" data-type="scroll") Массив
                            li.ui__content_nav_item
                                a(href="#sec2" class="ui__content_nav_link" data-type="scroll") Натуральный шпон
                            li.ui__content_nav_item
                                a(href="#sec3" class="ui__content_nav_link" data-type="scroll") Пленка ТВХ
                            li.ui__content_nav_item
                                a(href="#sec4" class="ui__content_nav_link" data-type="scroll") В алюминиевом профиле
                            li.ui__content_nav_item
                                a(href="#sec5" class="ui__content_nav_link" data-type="scroll") Искуственная кожа

        .ui__content_wrapper
            section.catalog__section#sec1
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Массив дерева
                            p Для фасадов мы используем итальянский пластик «Arpa», отличительной особенностью которого является широкий ассортимент глянцевых фантазийных и перламутровых декоров, а так же его высокое качество.
                            p Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность <br>все те качества, которые способствуют многопрофильному применению данного материала и позволяют дополнить интерьер необходимыми элементами.

                        .col.col--md-4
                            +ui__card('20', 'лет — срок службы фасадов из пластика', true)

                    .catalog__prodgrid
                        include ../blocks/_ui_prodgrid
                        +ui__prodgrid(
                            4,
                            'default',
                            {
                                img: IMG_PATH + 'catalog/cat1.jpg',
                                title: 'Альберо дерево',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat2.jpg',
                                title: 'Констанция',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat3.jpg',
                                title: 'Альберо диретто',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat4.jpg',
                                title: 'Балтимора',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat5.jpg',
                                title: 'Альберо луиза',
                                link: '#'
                            }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec2
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Натуральный шпон
                            p Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.
                            p Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.

                        .col.col--md-4
                            +ui__card('<div class="ui__icon ui__icon-temp"></div>', 'Фасады из шпона не деформируются под воздействием перепадов температур', true)

                    .catalog__prodgrid
                        +ui__prodgrid(
                            4,
                            'default',
                            {
                                img: IMG_PATH + 'catalog/cat6.jpg',
                                title: 'Альберо дерево',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat7.jpg',
                                title: 'Альберо дерево',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat8.jpg',
                                title: 'Альберо техно',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat9.jpg',
                                title: 'Альберо двойка',
                                link: '#'
                            }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec3
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Пленка ТВХ
                            p Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.
                            p Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.

                        .col.col--md-4
                            +ui__card('20', 'лет — срок службы фасадов из пластика', true)

                    .catalog__prodgrid
                        +ui__prodgrid(
                            4,
                            'default',
                            {
                                img: IMG_PATH + 'catalog/cat6.jpg',
                                title: 'Альберо дерево',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat7.jpg',
                                title: 'Констанция',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat8.jpg',
                                title: 'Альберо диретто',
                                link: '#'
                            },
                            {
                                img: IMG_PATH + 'catalog/cat9.jpg',
                                title: 'Балтимора',
                                link: '#'
                            }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec4
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle В алюминиевом профиле
                            p Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.
                            p Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.

                        .col.col--md-4
                            +ui__card('20', 'лет — срок службы фасадов из пластика', true)

                    .catalog__prodgrid
                        +ui__prodgrid(
                        4,
                        'default',
                        {
                            img: IMG_PATH + 'catalog/cat6.jpg',
                            title: 'Альберо дерево',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat7.jpg',
                            title: 'Констанция',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat8.jpg',
                            title: 'Альберо диретто',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat9.jpg',
                            title: 'Балтимора',
                            link: '#'
                        }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все


            section.catalog__section#sec5
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Искусственная кожа
                            p Одним из самых «продвинутых» решений являются облицованные (или покрытые) шпоном мебельные фасады. Шпонированные МДФ, в отличие от более дешевой оклейки панелей ПВХ-пленкой, используют натуральную древесину. Правда, не массив, а тонкие листы, получаемые путем строгания, лущения либо пиления дерева.
                            p Такие шпонированные фасады из МДФ не только не уступают по своим эстетическим качествам мебели из массива, но в некоторых случаях даже оказываются практичнее.

                        .col.col--md-4
                            +ui__card('20', 'лет — срок службы фасадов из пластика', true)

                    .catalog__prodgrid
                        +ui__prodgrid(
                        4,
                        'default',
                        {
                            img: IMG_PATH + 'catalog/cat6.jpg',
                            title: 'Альберо дерево',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat7.jpg',
                            title: 'Констанция',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat8.jpg',
                            title: 'Альберо диретто',
                            link: '#'
                        },
                        {
                            img: IMG_PATH + 'catalog/cat9.jpg',
                            title: 'Балтимора',
                            link: '#'
                        }
                        )

                        .catalog__prodgrid_more
                            a(href="#" class="catalog__prodgrid_btn ui__btn") Показать все

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call
