src/pug/pages/contacts.pug
extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title Контакты

        .ui__content_wrapper
            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-6
                            .contacts__item
                                .contacts__item_pic_wrap
                                    img(src=IMG_PATH + "contacts/pic1.png" alt="Карина Ипатова" class="contacts__item_pic")
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Карина Ипатова
                                        .contacts__item_post Менеджер отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.108
                                        a(href="tel:+79156012575" class="contacts__item_link") +7 915-601-25-75
                                        a(href="mailto:i.karina@mebelshik.su" class="contacts__item_link") i.karina@mebelshik.su
                        .col.col--md-6
                            .contacts__item
                                .contacts__item_pic_wrap
                                    img(src=IMG_PATH + "contacts/pic2.png" alt="Раева Ирина" class="contacts__item_pic")
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Раева Ирина
                                        .contacts__item_post Руководитель отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.105
                                        a(href="tel:+79156200383" class="contacts__item_link") +7 915-620-03-83
                                        a(href="mailto:r.irina@mebelshik.su" class="contacts__item_link") r.irina@mebelshik.su

                    .row
                        .col.col--md-6
                            .contacts__item
                                .contacts__item_pic_wrap
                                    img(src=IMG_PATH + "contacts/pic3.png" alt="Марина Кутыраева" class="contacts__item_pic")
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Марина Кутыраева
                                        .contacts__item_post Менеджер отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.109
                                        a(href="tel:+79156008050" class="contacts__item_link") +7 915-600-80-50
                                        a(href="mailto:9156008050@mebelshik.su" class="contacts__item_link") 9156008050@mebelshik.su
                        .col.col--md-6
                            .contacts__item
                                .contacts__item_pic_wrap
                                    img(src=IMG_PATH + "contacts/pic4.png" alt="Светлана Дрогомерецкая" class="contacts__item_pic")
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Светлана Дрогомерецкая
                                        .contacts__item_post Менеджер отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.110
                                        a(href="tel:+79106418188" class="contacts__item_link") +7 910-641-81-88
                                        a(href="mailto:d.svetlana@mebelshik.su" class="contacts__item_link") d.svetlana@mebelshik.su

                    .row
                        .col.col--md-6
                            .contacts__item.contacts__item-nopic
                                .contacts__item_inner
                                    .contacts__item_header
                                        .contacts__item_name Юлия Молоканова
                                        .contacts__item_post Менеджер отдела продаж

                                    .contacts__item_footer
                                        a(href="tel:+74912243737" class="contacts__item_link") +7 (4912) 24-37-37, доб.100
                                        a(href="tel:+79109033576" class="contacts__item_link") +7 910-903-35-76
                                        a(href="mailto:9109033576@mebelshik.su" class="contacts__item_link") 9109033576@mebelshik.su


            section.ui__content_section
                .grid.grid--container
                    .row
                        .col.col--md-8
                            h2.ui__content_subtitle Где мы находимся

                    .row
                        .col.col--md-8
                            #pmap.contacts__map
                                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4a61ecbf5d952ed1ee0f92940456acdebad980d29230aae2a67348966b22e97d&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true;id=pmap")

                        .col.col--md-4
                            .ui__card
                                p
                                    strong Адрес:<br>
                                    | г. Рязань, Район Строитель, 7А
                                p
                                    strong Телефон:<br>
                                    | +7 4912 24-37-37

                                p
                                    strong Электронная почта:<br>
                                    | info@pasternak.ru

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call

dist/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
    <link href="/assets/favicons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/assets/favicons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/assets/favicons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/assets/favicons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/assets/favicons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/assets/favicons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/assets/favicons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/assets/favicons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/assets/favicons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link type="image/png" href="/assets/favicons/android-icon-192x192.png" rel="icon" sizes="192x192">
    <link type="image/png" href="/assets/favicons/favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/png" href="/assets/favicons/favicon-96x96.png" rel="icon" sizes="96x96">
    <link type="image/png" href="/assets/favicons/favicon-16x16.png" rel="icon" sizes="16x16">
    <link href="/assets/favicons/manifest.json" rel="manifest">
    <meta name="msapplication-TileColor" content="#fafbfc">
    <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
    <title>Пастернак – фабрика фасадов
    </title>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      Вы используете <strong>устаревший</strong> браузер.
      Пожалуйста <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>
      чтобы воспользоваться всем функционалом сайта.
    </p><![endif]-->
    <header class="header">
      <div class="header__top js_headertop">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <ul class="header__menu">
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">О компании</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Акции</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Новости</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Информация для покупателей</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Вакансии</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col col--md-4">
              <div class="header__contacts"><a class="header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__main js_headermain">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <div class="header__main_left">
                <div class="header__logo_wrap"><a class="header__logo" href="/"><img class="header__logo_img" src="../assets/img/logo.svg" alt="Пастернак"></a><a class="header__m_toggle js_mtoggle" href="javascript:void(0);"></a></div><a class="header__m_call ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a>
                <nav class="header__nav js_mobmenu" role="navigation">
                  <ul class="header__m_menu">
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">О компании</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Акции</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Новости</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Информация для покупателей</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Вакансии</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Контакты</a></li>
                  </ul>
                  <ul class="header__nav_inner">
                    <li class="header__nav_item header__nav_item-caret"><a class="header__nav_link js_mobsubmenu" href="#">Продукция</a>
                      <div class="header__submenu">
                        <div class="grid grid--container">
                          <div class="row">
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod1.jpg" alt="Фасады"></div>
                                <div class="header__submenu_title">Фасады</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod2.jpg" alt="Цвета"></div>
                                <div class="header__submenu_title">Цвета</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod3.jpg" alt="Сопутствующие"></div>
                                <div class="header__submenu_title">Сопутствующие</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod4.jpg" alt="Декор"></div>
                                <div class="header__submenu_title">Декор</div></a></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Сотрудничество</a></li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Продажа материалов</a></li>
                  </ul>
                  <div class="header__m_footer"><a class="header__m_phone header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="header__m_address header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__m_mail header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
                </nav>
              </div>
            </div>
            <div class="col col--md-4 m_hidden">
              <div class="header__main_right"><a class="header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main ui__content" role="main">
      <div class="ui__content_header">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--xs-12">
              <h1 class="ui__content_title">Контакты</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="ui__content_wrapper">
        <section class="ui__content_section">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-6">
                <div class="contacts__item">
                  <div class="contacts__item_pic_wrap"><img class="contacts__item_pic" src="../assets/img/contacts/pic1.png" alt="Карина Ипатова"></div>
                  <div class="contacts__item_inner">
                    <div class="contacts__item_header">
                      <div class="contacts__item_name">Карина Ипатова</div>
                      <div class="contacts__item_post">Менеджер отдела продаж</div>
                    </div>
                    <div class="contacts__item_footer"><a class="contacts__item_link" href="tel:+74912243737">+7 (4912) 24-37-37, доб.108</a><a class="contacts__item_link" href="tel:+79156012575">+7 915-601-25-75</a><a class="contacts__item_link" href="mailto:i.karina@mebelshik.su">i.karina@mebelshik.su</a></div>
                  </div>
                </div>
              </div>
              <div class="col col--md-6">
                <div class="contacts__item">
                  <div class="contacts__item_pic_wrap"><img class="contacts__item_pic" src="../assets/img/contacts/pic2.png" alt="Раева Ирина"></div>
                  <div class="contacts__item_inner">
                    <div class="contacts__item_header">
                      <div class="contacts__item_name">Раева Ирина</div>
                      <div class="contacts__item_post">Руководитель отдела продаж</div>
                    </div>
                    <div class="contacts__item_footer"><a class="contacts__item_link" href="tel:+74912243737">+7 (4912) 24-37-37, доб.105</a><a class="contacts__item_link" href="tel:+79156200383">+7 915-620-03-83</a><a class="contacts__item_link" href="mailto:r.irina@mebelshik.su">r.irina@mebelshik.su</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-6">
                <div class="contacts__item">
                  <div class="contacts__item_pic_wrap"><img class="contacts__item_pic" src="../assets/img/contacts/pic3.png" alt="Марина Кутыраева"></div>
                  <div class="contacts__item_inner">
                    <div class="contacts__item_header">
                      <div class="contacts__item_name">Марина Кутыраева</div>
                      <div class="contacts__item_post">Менеджер отдела продаж</div>
                    </div>
                    <div class="contacts__item_footer"><a class="contacts__item_link" href="tel:+74912243737">+7 (4912) 24-37-37, доб.109</a><a class="contacts__item_link" href="tel:+79156008050">+7 915-600-80-50</a><a class="contacts__item_link" href="mailto:9156008050@mebelshik.su">9156008050@mebelshik.su</a></div>
                  </div>
                </div>
              </div>
              <div class="col col--md-6">
                <div class="contacts__item">
                  <div class="contacts__item_pic_wrap"><img class="contacts__item_pic" src="../assets/img/contacts/pic4.png" alt="Светлана Дрогомерецкая"></div>
                  <div class="contacts__item_inner">
                    <div class="contacts__item_header">
                      <div class="contacts__item_name">Светлана Дрогомерецкая</div>
                      <div class="contacts__item_post">Менеджер отдела продаж</div>
                    </div>
                    <div class="contacts__item_footer"><a class="contacts__item_link" href="tel:+74912243737">+7 (4912) 24-37-37, доб.110</a><a class="contacts__item_link" href="tel:+79106418188">+7 910-641-81-88</a><a class="contacts__item_link" href="mailto:d.svetlana@mebelshik.su">d.svetlana@mebelshik.su</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-6">
                <div class="contacts__item contacts__item-nopic">
                  <div class="contacts__item_inner">
                    <div class="contacts__item_header">
                      <div class="contacts__item_name">Юлия Молоканова</div>
                      <div class="contacts__item_post">Менеджер отдела продаж</div>
                    </div>
                    <div class="contacts__item_footer"><a class="contacts__item_link" href="tel:+74912243737">+7 (4912) 24-37-37, доб.100</a><a class="contacts__item_link" href="tel:+79109033576">+7 910-903-35-76</a><a class="contacts__item_link" href="mailto:9109033576@mebelshik.su">9109033576@mebelshik.su</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="ui__content_section">
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-8">
                <h2 class="ui__content_subtitle">Где мы находимся</h2>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-8">
                <div class="contacts__map" id="pmap">
                  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4a61ecbf5d952ed1ee0f92940456acdebad980d29230aae2a67348966b22e97d&amp;amp;width=100%25&amp;amp;height=100%&amp;amp;lang=ru_RU&amp;amp;scroll=true;id=pmap"></script>
                </div>
              </div>
              <div class="col col--md-4">
                <div class="ui__card">
                  <p><strong>Адрес:<br></strong>г. Рязань, Район Строитель, 7А</p>
                  <p><strong>Телефон:<br></strong>+7 4912 24-37-37</p>
                  <p><strong>Электронная почта:<br></strong>info@pasternak.ru</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="grid grid--container">
        <div class="row">
          <div class="col col--md-2"><img class="footer__logo" src="../assets/img/logo.svg"></div>
          <div class="col col--md-6">
            <ul class="footer__nav">
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продукция</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Сотрудничество</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">О компании</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Контакты</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Акции</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Вакансии</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Новости</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Информация для покупателей</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продажа материалов</a></li>
            </ul>
          </div>
          <div class="col col--md-4"><a class="ui__btn ui__btn-red footer__call js_modal" href="#m_letter">Напишите нам</a><a class="footer__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="footer__mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a><a class="footer__address" href="#" target="_blank">г. Рязань, Район Строитель, 7А</a>
            <ul class="footer__social">
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/fb.svg" alt="Facebook"></a></li>
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/vk.svg" alt="Facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="ui__modal zoom-anim-dialog mfp-hide" id="m_call">
      <h2 class="ui__modal_title">Заказать звонок</h2>
      <form class="ui__modal_form js_callform" action="" method="POST">
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_name">Имя</label>
          <input class="ui__modal_input" id="inp_name" name="inp_name" type="text" placeholder="Введите имя" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_phone">Телефон</label>
          <input class="ui__modal_input js_phone" id="inp_phone" name="inp_phone" type="text" placeholder="Введите телефон" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <div class="ui__checkbox">
            <input id="inp_check" type="checkbox" name="inp_check" checked="">
            <label class="ui__checkbox_lbl" for="inp_check">Даю соласие на <a href="/privacy">обработку данных</a></label>
          </div>
        </fieldset>
        <button class="ui__modal_btn ui__btn ui__btn-red" type="submit">Отправить</button>
      </form>
    </div>
    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/app.min.js"></script>
  </body>
</html>
