src/pug/pages/partnership.pug
extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__content(role="main")
        .ui__content_header
            .grid.grid--container
                .row
                    .col.col--xs-12
                        h1.ui__content_title Сотрудничество

        .ui__content_wrapper
            section
                .grid.grid--container
                    .row
                        .col.col--md-8
                            p Дорогие друзья, коллеги-мебельщики. Будем рады видеть Вас в числе наших клиентов!

                    .row
                        .col.col--xs-12
                            .ui__content_pic_wrap
                                img(src=IMG_PATH + 'content/pic1.jpg' alt="Сотрудничество" class="ui__content_pic")

            section.ui__content_section
                .grid.grid--container
                    .row.ui__content_row
                        .col.col--md-8
                            h2.ui__content_subtitle Почему стоит покупать фасады именно у нас?
                    .row
                        .col.col--md-8
                            h4.ui__content_subheader Самый большой ассортимент
                            p Мы единственные в регионе изготавливаем полный спектр фасадов с разными технологиями изготовления (массив, натуральный шпон, краска, пластик, пленка ПВХ)
                            p Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету. <br>Вам не придется искать разных поставщиков, все можно заказать у нас, что позволит значительно экономить на логистике.
                            p Благодаря разнообразию фактур, форм, фрезеровок и цветов в нашем ассортименте Вы сможете подобрать модели, позволяющие оформить мебель в любом стиле - от классики до модерна, от минимализма до кантри.

                        .col.col--md-4
                            +ui__card('2 года', 'Гарантия на все изделия', true)

                    .row
                        .col.col--md-8
                            h4.ui__content_subheader Стабильно высокое качество
                            p Для производства фасадов мы применяем только современные, прочные и экологически чистые материалы ведущих поставщиков (Arpa, Abet, Lemark, Rehau, Jowat, Мелатон). Все материалы отвечают европейскому стандарту безопасности Е1. <br>Тщательный анализ закупаемых материалов, строжайший контроль на всех этапах производства позволили нам установить ГАРАНТИЮ на все изделия 2 ГОДА!

                            h4.ui__content_subheader Нестандартные размеры
                            p Мы производим фасады нестандартных размеров, в том числе больших размеров до 3 метров в длину, позволяя Вам и Вашим клиентам воплотить любые дизайнерские решения.

                        .col.col--md-4
                            +ui__card('3 метра', 'Максимальная длина фасадов', true)

                    .row
                        .col.col--md-8
                            h4.ui__content_subheader Выгодные условия оплаты и скидки
                            p Мы имеем эксклюзивные скидки у поставщиков, не арендуем дорогостоящие производственные площади и оборудование, а имеем их в собственности. Это позволяет нам устанавливать на наш продукт разумные цены.

                            h4.ui__content_subheader Четкое соблюдение сроков изготовления
                            p Мы понимаем, как Важно для Вас выполнить заказ в срок, поэтому это является одним из наших главных приоритетов

                            h4.ui__content_subheader Выгодные условия доставки
                            ul.ui__content_list
                                li Бесплатно доставляем продукцию в города Рязань, Тула и Коломна.
                                li По минимальным тарифам доставляем продукцию ж/д и автотранспортом.
                                li Доставляем продукцию до транспортных компаний г. Москвы.
                                li При отправке через транспортные компании бесплатно делаем усиленную упаковку, которая обеспечивает сохранность Ваших фасадов при перевозке на любые расстояния.

                            h4.ui__content_subheader Высокий уровень обслуживания
                            p Мы заботимся о наших клиентах, нашим главным приоритетом является соблюдение Ваших интересов. Мы отслеживаем все этапы прохождения клиентских заказов с момента размещения до получения со склада.
                            p Для Вас работают профессиональные менеджеры, готовые помочь и подсказать любую интересующую информацию! Ваши сотрудники получат максимальный объём знаний по ассортименту, техническим особенностям, об условиях эксплуатации и преимуществах нашей продукции.

                        .col.col--md-4
                            +ui__card('%', '<strong>Скидки</strong> <br> <ul class="ui__content_list"><li>На выставочные образцы</li><li>По результатам работы партнера</li><li>Специальные предложения и акции</li>', true)

                    .row
                        .col.col--md-8
                            blockquote Такие партнерские отношения выбрали более 400 клиентов по всей России. Присоединяйтесь к нам!

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call

dist/partnership.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
    <link href="/assets/favicons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/assets/favicons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/assets/favicons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/assets/favicons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/assets/favicons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/assets/favicons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/assets/favicons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/assets/favicons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/assets/favicons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link type="image/png" href="/assets/favicons/android-icon-192x192.png" rel="icon" sizes="192x192">
    <link type="image/png" href="/assets/favicons/favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/png" href="/assets/favicons/favicon-96x96.png" rel="icon" sizes="96x96">
    <link type="image/png" href="/assets/favicons/favicon-16x16.png" rel="icon" sizes="16x16">
    <link href="/assets/favicons/manifest.json" rel="manifest">
    <meta name="msapplication-TileColor" content="#fafbfc">
    <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
    <title>Пастернак – фабрика фасадов
    </title>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      Вы используете <strong>устаревший</strong> браузер.
      Пожалуйста <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>
      чтобы воспользоваться всем функционалом сайта.
    </p><![endif]-->
    <header class="header">
      <div class="header__top js_headertop">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <ul class="header__menu">
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">О компании</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Акции</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Новости</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Информация для покупателей</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Вакансии</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col col--md-4">
              <div class="header__contacts"><a class="header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__main js_headermain">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <div class="header__main_left">
                <div class="header__logo_wrap"><a class="header__logo" href="/"><img class="header__logo_img" src="../assets/img/logo.svg" alt="Пастернак"></a><a class="header__m_toggle js_mtoggle" href="javascript:void(0);"></a></div><a class="header__m_call ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a>
                <nav class="header__nav js_mobmenu" role="navigation">
                  <ul class="header__m_menu">
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">О компании</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Акции</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Новости</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Информация для покупателей</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Вакансии</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Контакты</a></li>
                  </ul>
                  <ul class="header__nav_inner">
                    <li class="header__nav_item header__nav_item-caret"><a class="header__nav_link js_mobsubmenu" href="#">Продукция</a>
                      <div class="header__submenu">
                        <div class="grid grid--container">
                          <div class="row">
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod1.jpg" alt="Фасады"></div>
                                <div class="header__submenu_title">Фасады</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod2.jpg" alt="Цвета"></div>
                                <div class="header__submenu_title">Цвета</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod3.jpg" alt="Сопутствующие"></div>
                                <div class="header__submenu_title">Сопутствующие</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod4.jpg" alt="Декор"></div>
                                <div class="header__submenu_title">Декор</div></a></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Сотрудничество</a></li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Продажа материалов</a></li>
                  </ul>
                  <div class="header__m_footer"><a class="header__m_phone header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="header__m_address header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__m_mail header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
                </nav>
              </div>
            </div>
            <div class="col col--md-4 m_hidden">
              <div class="header__main_right"><a class="header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main ui__content" role="main">
      <div class="ui__content_header">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--xs-12">
              <h1 class="ui__content_title">Сотрудничество</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="ui__content_wrapper">
        <section>
          <div class="grid grid--container">
            <div class="row">
              <div class="col col--md-8">
                <p>Дорогие друзья, коллеги-мебельщики. Будем рады видеть Вас в числе наших клиентов!</p>
              </div>
            </div>
            <div class="row">
              <div class="col col--xs-12">
                <div class="ui__content_pic_wrap"><img class="ui__content_pic" src="../assets/img/content/pic1.jpg" alt="Сотрудничество"></div>
              </div>
            </div>
          </div>
        </section>
        <section class="ui__content_section">
          <div class="grid grid--container">
            <div class="row ui__content_row">
              <div class="col col--md-8">
                <h2 class="ui__content_subtitle">Почему стоит покупать фасады именно у нас?</h2>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-8">
                <h4 class="ui__content_subheader">Самый большой ассортимент</h4>
                <p>Мы единственные в регионе изготавливаем полный спектр фасадов с разными технологиями изготовления (массив, натуральный шпон, краска, пластик, пленка ПВХ)</p>
                <p>Многолетнее сотрудничество с одним поставщиком гарантирует нам стабильное качество пленки по толщине и цвету. <br>Вам не придется искать разных поставщиков, все можно заказать у нас, что позволит значительно экономить на логистике.</p>
                <p>Благодаря разнообразию фактур, форм, фрезеровок и цветов в нашем ассортименте Вы сможете подобрать модели, позволяющие оформить мебель в любом стиле - от классики до модерна, от минимализма до кантри.</p>
              </div>
              <div class="col col--md-4">
                <div class="ui__card ui__card-topped">
                  <div class="ui__card_count">2 года</div>
                  <div class="ui__card_text">Гарантия на все изделия</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-8">
                <h4 class="ui__content_subheader">Стабильно высокое качество</h4>
                <p>Для производства фасадов мы применяем только современные, прочные и экологически чистые материалы ведущих поставщиков (Arpa, Abet, Lemark, Rehau, Jowat, Мелатон). Все материалы отвечают европейскому стандарту безопасности Е1. <br>Тщательный анализ закупаемых материалов, строжайший контроль на всех этапах производства позволили нам установить ГАРАНТИЮ на все изделия 2 ГОДА!</p>
                <h4 class="ui__content_subheader">Нестандартные размеры</h4>
                <p>Мы производим фасады нестандартных размеров, в том числе больших размеров до 3 метров в длину, позволяя Вам и Вашим клиентам воплотить любые дизайнерские решения.</p>
              </div>
              <div class="col col--md-4">
                <div class="ui__card ui__card-topped">
                  <div class="ui__card_count">3 метра</div>
                  <div class="ui__card_text">Максимальная длина фасадов</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-8">
                <h4 class="ui__content_subheader">Выгодные условия оплаты и скидки</h4>
                <p>Мы имеем эксклюзивные скидки у поставщиков, не арендуем дорогостоящие производственные площади и оборудование, а имеем их в собственности. Это позволяет нам устанавливать на наш продукт разумные цены.</p>
                <h4 class="ui__content_subheader">Четкое соблюдение сроков изготовления</h4>
                <p>Мы понимаем, как Важно для Вас выполнить заказ в срок, поэтому это является одним из наших главных приоритетов</p>
                <h4 class="ui__content_subheader">Выгодные условия доставки</h4>
                <ul class="ui__content_list">
                  <li>Бесплатно доставляем продукцию в города Рязань, Тула и Коломна.</li>
                  <li>По минимальным тарифам доставляем продукцию ж/д и автотранспортом.</li>
                  <li>Доставляем продукцию до транспортных компаний г. Москвы.</li>
                  <li>При отправке через транспортные компании бесплатно делаем усиленную упаковку, которая обеспечивает сохранность Ваших фасадов при перевозке на любые расстояния.</li>
                </ul>
                <h4 class="ui__content_subheader">Высокий уровень обслуживания</h4>
                <p>Мы заботимся о наших клиентах, нашим главным приоритетом является соблюдение Ваших интересов. Мы отслеживаем все этапы прохождения клиентских заказов с момента размещения до получения со склада.</p>
                <p>Для Вас работают профессиональные менеджеры, готовые помочь и подсказать любую интересующую информацию! Ваши сотрудники получат максимальный объём знаний по ассортименту, техническим особенностям, об условиях эксплуатации и преимуществах нашей продукции.</p>
              </div>
              <div class="col col--md-4">
                <div class="ui__card ui__card-topped">
                  <div class="ui__card_count">%</div>
                  <div class="ui__card_text"><strong>Скидки</strong> <br> <ul class="ui__content_list"><li>На выставочные образцы</li><li>По результатам работы партнера</li><li>Специальные предложения и акции</li></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col--md-8">
                <blockquote>Такие партнерские отношения выбрали более 400 клиентов по всей России. Присоединяйтесь к нам!</blockquote>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="grid grid--container">
        <div class="row">
          <div class="col col--md-2"><img class="footer__logo" src="../assets/img/logo.svg"></div>
          <div class="col col--md-6">
            <ul class="footer__nav">
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продукция</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Сотрудничество</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">О компании</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Контакты</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Акции</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Вакансии</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Новости</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Информация для покупателей</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продажа материалов</a></li>
            </ul>
          </div>
          <div class="col col--md-4"><a class="ui__btn ui__btn-red footer__call js_modal" href="#m_letter">Напишите нам</a><a class="footer__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="footer__mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a><a class="footer__address" href="#" target="_blank">г. Рязань, Район Строитель, 7А</a>
            <ul class="footer__social">
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/fb.svg" alt="Facebook"></a></li>
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/vk.svg" alt="Facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="ui__modal zoom-anim-dialog mfp-hide" id="m_call">
      <h2 class="ui__modal_title">Заказать звонок</h2>
      <form class="ui__modal_form js_callform" action="" method="POST">
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_name">Имя</label>
          <input class="ui__modal_input" id="inp_name" name="inp_name" type="text" placeholder="Введите имя" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_phone">Телефон</label>
          <input class="ui__modal_input js_phone" id="inp_phone" name="inp_phone" type="text" placeholder="Введите телефон" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <div class="ui__checkbox">
            <input id="inp_check" type="checkbox" name="inp_check" checked="">
            <label class="ui__checkbox_lbl" for="inp_check">Даю соласие на <a href="/privacy">обработку данных</a></label>
          </div>
        </fieldset>
        <button class="ui__modal_btn ui__btn ui__btn-red" type="submit">Отправить</button>
      </form>
    </div>
    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/app.min.js"></script>
  </body>
</html>
