dist/product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
    <link href="/assets/favicons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/assets/favicons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/assets/favicons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/assets/favicons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/assets/favicons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/assets/favicons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/assets/favicons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/assets/favicons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/assets/favicons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link type="image/png" href="/assets/favicons/android-icon-192x192.png" rel="icon" sizes="192x192">
    <link type="image/png" href="/assets/favicons/favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/png" href="/assets/favicons/favicon-96x96.png" rel="icon" sizes="96x96">
    <link type="image/png" href="/assets/favicons/favicon-16x16.png" rel="icon" sizes="16x16">
    <link href="/assets/favicons/manifest.json" rel="manifest">
    <meta name="msapplication-TileColor" content="#fafbfc">
    <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
    <title>Пастернак – фабрика фасадов
    </title>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      Вы используете <strong>устаревший</strong> браузер.
      Пожалуйста <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>
      чтобы воспользоваться всем функционалом сайта.
    </p><![endif]-->
    <header class="header">
      <div class="header__top js_headertop">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <ul class="header__menu">
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">О компании</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Акции</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Новости</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Информация для покупателей</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Вакансии</a></li>
                <li class="header__menu_item"><a class="header__menu_item_link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col col--md-4">
              <div class="header__contacts"><a class="header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__main js_headermain">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-8">
              <div class="header__main_left">
                <div class="header__logo_wrap"><a class="header__logo" href="/"><img class="header__logo_img" src="../assets/img/logo.svg" alt="Пастернак"></a><a class="header__m_toggle js_mtoggle" href="javascript:void(0);"></a></div><a class="header__m_call ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a>
                <nav class="header__nav js_mobmenu" role="navigation">
                  <ul class="header__m_menu">
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">О компании</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Акции</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Новости</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Информация для покупателей</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Вакансии</a></li>
                    <li class="header__m_menu_item"><a class="header__m_menu_item_link" href="#">Контакты</a></li>
                  </ul>
                  <ul class="header__nav_inner">
                    <li class="header__nav_item header__nav_item-caret"><a class="header__nav_link js_mobsubmenu" href="#">Продукция</a>
                      <div class="header__submenu">
                        <div class="grid grid--container">
                          <div class="row">
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod1.jpg" alt="Фасады"></div>
                                <div class="header__submenu_title">Фасады</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod2.jpg" alt="Цвета"></div>
                                <div class="header__submenu_title">Цвета</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod3.jpg" alt="Сопутствующие"></div>
                                <div class="header__submenu_title">Сопутствующие</div></a></div>
                            <div class="col col--md-3 col--xs-6"><a class="header__submenu_item" href="#">
                                <div class="header__submenu_pic_wrap"><img src="../assets/img/production/prod4.jpg" alt="Декор"></div>
                                <div class="header__submenu_title">Декор</div></a></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Сотрудничество</a></li>
                    <li class="header__nav_item"><a class="header__nav_link" href="#">Продажа материалов</a></li>
                  </ul>
                  <div class="header__m_footer"><a class="header__m_phone header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="header__m_address header__contacts_address" href="https://yandex.ru/maps/-/CBaVAQvjCB" target="_blank">г. Рязань, Район Строитель, 7А</a><a class="header__m_mail header__contacts_mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a></div>
                </nav>
              </div>
            </div>
            <div class="col col--md-4 m_hidden">
              <div class="header__main_right"><a class="header__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="ui__btn ui__btn-red header__call js_modal" href="#m_call">Обратный звонок</a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main ui__product" role="main">
      <div class="ui__content_header ui__content_header-bread">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--xs-12">
              <div class="ui__breadcrumbs">
                <ul class="ui__breadcrumbs_list">
                  <li class="ui__breadcrumbs_item"><a class="ui__breadcrumbs_item_link" href="#">Продукция</a></li>
                  <li class="ui__breadcrumbs_item"><a class="ui__breadcrumbs_item_link" href="#">Фасады</a></li>
                </ul>
              </div>
              <h1 class="ui__content_title">Альберто дерево</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="ui__product_wrapper">
        <div class="grid grid--container">
          <div class="row">
            <div class="col col--md-4 product__box js_prodbox">
              <div class="product__preview js_product">
                <div class="product_pic_wrap"><img class="product_pic" src="../assets/img/production/single/preview.jpg" alt="Альберто дерево" id="preview"></div><a class="product_pdf" href="#"><span class="product_pdf_text">Скачать pdf с технической информацией этого фасада</span><span class="product_pdf_size">1.2 МБ</span></a><a class="product_btn ui__btn ui__btn-red js_modal" href="#m_catalog">Запросить прайс</a>
              </div>
            </div>
            <div class="col col--md-8">
              <section class="product__section">
                <div class="product__slider ui__imgslider owl-carousel js_imgslider">
                                                                        <div class="ui__imgslider_item"><img class="ui__imgslider_pic" src="../assets/img/production/single/slider1.jpg" alt="Описание1">
                                                                        </div>
                                                                        <div class="ui__imgslider_item"><img class="ui__imgslider_pic" src="../assets/img/production/single/slider1.jpg" alt="Описание2">
                                                                        </div>
                                                                        <div class="ui__imgslider_item"><img class="ui__imgslider_pic" src="../assets/img/production/single/slider1.jpg" alt="Описание3">
                                                                        </div>
                </div>
                <p>Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность <br>все те качества, которые способствуют многопрофильному применению данного материала и позволяют дополнить интерьер необходимыми элементами.</p>
              </section>
              <section class="product__section">
                <div class="row">
                  <div class="col col--xs-12">
                    <h2 class="ui__content_subtitle">Варианты исполнения</h2>
                  </div>
                </div>
                <div class="row product__var">
                  <div class="col col--md-3 col--xs-6 col--sm-6"><img class="product__var_pic" src="../assets/img/production/single/variants/var1.svg" alt="Фасад глухой">
                    <div class="product__var_title">Фасад глухой</div>
                  </div>
                  <div class="col col--md-3 col--xs-6 col--sm-6"><img class="product__var_pic" src="../assets/img/production/single/variants/var2.svg" alt="Витрина">
                    <div class="product__var_title">Витрина</div>
                  </div>
                  <div class="col col--md-3 col--xs-6 col--sm-6"><img class="product__var_pic" src="../assets/img/production/single/variants/var3.svg" alt="Решетка">
                    <div class="product__var_title">Решетка</div>
                  </div>
                  <div class="col col--md-3 col--xs-6 col--sm-6"><img class="product__var_pic" src="../assets/img/production/single/variants/var4.svg" alt="Декоративная решетка">
                    <div class="product__var_title">Декоративная решетка</div>
                  </div>
                </div>
              </section>
              <section class="product__section">
                <div class="row">
                  <div class="col col--xs-12">
                    <h2 class="ui__content_subtitle">Дополнительные элементы</h2>
                  </div>
                </div>
                <div class="row product__dop">
                  <div class="col col--md-6"><img class="product__dop_pic" src="../assets/img/production/single/dop1.jpg" alt="Декор">
                    <div class="product__dop_title">Декор</div>
                  </div>
                  <div class="col col--md-6"><img class="product__dop_pic" src="../assets/img/production/single/dop2.jpg" alt="Декор">
                    <div class="product__dop_title">Декор</div>
                  </div>
                </div>
              </section>
              <section class="product__section">
                <h2 class="ui__content_subtitle">Популярные цвета</h2>
                <div class="product__colors"><a class="product__colors_item js_preview" href="#preview" data-img="../assets/img/production/single/preview1.jpg"><img class="product__colors_pic" src="../assets/img/production/single/colors/col1.jpg" alt="Цвет1"></a><a class="product__colors_item js_preview" href="#preview" data-img="../assets/img/production/single/preview2.jpg"><img class="product__colors_pic" src="../assets/img/production/single/colors/col2.jpg" alt="Цвет2"></a><a class="product__colors_item js_preview" href="#preview" data-img="../assets/img/production/single/preview3.jpg"><img class="product__colors_pic" src="../assets/img/production/single/colors/col3.jpg" alt="Цвет3"></a><a class="product__colors_item js_preview" href="#preview" data-img="../assets/img/production/single/preview4.jpg"><img class="product__colors_pic" src="../assets/img/production/single/colors/col4.jpg" alt="Цвет4"></a></div>
              </section>
              <section class="product__section">
                <h2 class="ui__content_subtitle">Фасады из этой категории</h2>
                <div class="ui__prodslider owl-carousel js_prodslider"><a class="ui__prodslider_item ui__prodgrid_item" href="#">
                                                                          <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat1.jpg" alt="Альберо дерево"></div>
                                                                          <div class="ui__prodgrid_title">Альберо дерево</div></a><a class="ui__prodslider_item ui__prodgrid_item" href="#">
                                                                          <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat2.jpg" alt="Констанция"></div>
                                                                          <div class="ui__prodgrid_title">Констанция</div></a><a class="ui__prodslider_item ui__prodgrid_item" href="#">
                                                                          <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat3.jpg" alt="Альберо диретто"></div>
                                                                          <div class="ui__prodgrid_title">Альберо диретто</div></a><a class="ui__prodslider_item ui__prodgrid_item" href="#">
                                                                          <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat4.jpg" alt="Балтимора"></div>
                                                                          <div class="ui__prodgrid_title">Балтимора</div></a><a class="ui__prodslider_item ui__prodgrid_item" href="#">
                                                                          <div class="ui__prodgrid_pic_wrap ui__prodgrid_pic_wrap-default"><img class="ui__prodgrid_pic" src="../assets/img/catalog/cat5.jpg" alt="Альберо луиза"></div>
                                                                          <div class="ui__prodgrid_title">Альберо луиза</div></a>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="grid grid--container">
        <div class="row">
          <div class="col col--md-2"><img class="footer__logo" src="../assets/img/logo.svg"></div>
          <div class="col col--md-6">
            <ul class="footer__nav">
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продукция</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Сотрудничество</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">О компании</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Контакты</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Акции</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Вакансии</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Новости</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Информация для покупателей</a></li>
              <li class="footer__nav_item"><a class="footer__nav_item_link" href="#">Продажа материалов</a></li>
            </ul>
          </div>
          <div class="col col--md-4"><a class="ui__btn ui__btn-red footer__call js_modal" href="#m_letter">Напишите нам</a><a class="footer__phone" href="tel:+74912243737">+7 4912 24-37-37</a><a class="footer__mail" href="mailto:info@pasternak.ru">info@pasternak.ru</a><a class="footer__address" href="#" target="_blank">г. Рязань, Район Строитель, 7А</a>
            <ul class="footer__social">
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/fb.svg" alt="Facebook"></a></li>
              <li class="footer__social_item"><a class="footer__social_link" href="#" target="_blank"><img class="footer__social_ico" src="../assets/img/icons/vk.svg" alt="Facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="ui__modal zoom-anim-dialog mfp-hide" id="m_call">
      <h2 class="ui__modal_title">Заказать звонок</h2>
      <form class="ui__modal_form js_callform" action="" method="POST">
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_name">Имя</label>
          <input class="ui__modal_input" id="inp_name" name="inp_name" type="text" placeholder="Введите имя" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_phone">Телефон</label>
          <input class="ui__modal_input js_phone" id="inp_phone" name="inp_phone" type="text" placeholder="Введите телефон" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <div class="ui__checkbox">
            <input id="inp_check" type="checkbox" name="inp_check" checked="">
            <label class="ui__checkbox_lbl" for="inp_check">Даю соласие на <a href="/privacy">обработку данных</a></label>
          </div>
        </fieldset>
        <button class="ui__modal_btn ui__btn ui__btn-red" type="submit">Отправить</button>
      </form>
    </div>
    <div class="ui__modal zoom-anim-dialog mfp-hide" id="m_catalog">
      <h2 class="ui__modal_title">Заказать каталог</h2>
      <form class="ui__modal_form js_catalogform" action="" method="POST">
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_name">Имя</label>
          <input class="ui__modal_input" id="inp_name" name="inp_name" type="text" placeholder="Введите имя" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_phone">Телефон</label>
          <input class="ui__modal_input js_phone" id="inp_phone" name="inp_phone" type="text" placeholder="Введите телефон" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="inp_mail">E-mail</label>
          <input class="ui__modal_input" id="inp_mail" name="inp_mail" type="email" placeholder="Введите почту" required>
        </fieldset>
        <fieldset class="ui__modal_row">
          <div class="ui__checkbox">
            <input id="inp_check" type="checkbox" name="inp_check" checked="">
            <label class="ui__checkbox_lbl" for="inp_check">Даю соласие на <a href="/privacy">обработку данных</a></label>
          </div>
        </fieldset>
        <button class="ui__modal_btn ui__btn ui__btn-red" type="submit">Отправить</button>
      </form>
    </div>
    <div class="ui__modal zoom-anim-dialog mfp-hide ui__modal_letter" id="m_letter">
      <h2 class="ui__modal_title">Обратная связь</h2>
      <form class="ui__modal_form js_letterform" action="" method="POST">
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="letter_name">Имя</label>
          <input class="ui__modal_input" id="letter_name" name="letter_name" type="text" placeholder="Введите имя" required>
        </fieldset>
        <div class="ui__modal_row">
          <div class="ui__modal_part">
            <fieldset class="ui__modal_row">
              <label class="ui__modal_label" for="letter_mail">E-mail</label>
              <input class="ui__modal_input" id="letter_mail" name="letter_mail" type="email" placeholder="Введите почту" required>
            </fieldset>
          </div>
          <div class="ui__modal_part">
            <fieldset class="ui__modal_row">
              <label class="ui__modal_label" for="letter_phone">Телефон</label>
              <input class="ui__modal_input js_phone" id="letter_phone" name="letter_phone" type="text" placeholder="Введите телефон" required>
            </fieldset>
          </div>
        </div>
        <fieldset class="ui__modal_row">
          <label class="ui__modal_label" for="letter_text">Сообщение</label>
          <textarea class="ui__modal_input" id="letter_text" name="letter_text" rows="5" placeholder="Введите сообщение" required></textarea>
        </fieldset>
        <fieldset class="ui__modal_row">
          <div class="ui__checkbox">
            <input id="letter_check" type="checkbox" name="inp_check" checked="" required>
            <label class="ui__checkbox_lbl" for="letter_check">Даю соласие на <a href="/privacy">обработку данных</a></label>
          </div>
        </fieldset>
        <button class="ui__modal_btn ui__btn ui__btn-red" type="submit">Отправить</button>
      </form>
    </div>
    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/app.min.js"></script>
  </body>
</html>

src/pug/pages/product.pug
extends ../layout/_layout

block title
    | Пастернак – фабрика фасадов

block header
    include ../layout/_header

block content
    main.main.ui__product(role="main")
        .ui__content_header.ui__content_header-bread
            .grid.grid--container
                .row
                    .col.col--xs-12
                        +ui__breadcrumbs(
                            {
                                text: 'Продукция',
                                link: '#',
                                plane: false
                            },
                            {
                                text: 'Фасады',
                                link: '#',
                                plane: false
                            }
                        )

                        h1.ui__content_title Альберто дерево

        .ui__product_wrapper
            .grid.grid--container
                .row
                    .col.col--md-4.product__box.js_prodbox
                        .product__preview.js_product
                            .product_pic_wrap
                                img(src=IMG_PATH + 'production/single/preview.jpg' alt="Альберто дерево" class="product_pic" id="preview")

                            a.product_pdf(href="#")
                                span.product_pdf_text Скачать pdf с технической информацией этого фасада
                                span.product_pdf_size 1.2 МБ

                            a.product_btn(href="#m_catalog" class="ui__btn ui__btn-red js_modal") Запросить прайс

                    .col.col--md-8
                        section.product__section
                            .product__slider.ui__imgslider.owl-carousel.js_imgslider
                                include ../blocks/_ui_imgslider

                                +ui__imgslider(
                                    false,
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание1'
                                    },
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание2'
                                    },
                                    {
                                        img: IMG_PATH + 'production/single/slider1.jpg',
                                        alt: 'Описание3'
                                    }
                                )

                            p Многообразие декоров, широкая цветовая гамма, разнообразие поверхностей, технические характеристики, эстетичность, практичность, гигиеничность <br>все те качества, которые способствуют многопрофильному применению данного материала и позволяют дополнить интерьер необходимыми элементами.


                        section.product__section
                            .row
                                .col.col--xs-12
                                    h2.ui__content_subtitle Варианты исполнения
                            .row.product__var
                                .col.col--md-3.col--xs-6.col--sm-6
                                    img(src=IMG_PATH + 'production/single/variants/var1.svg' alt="Фасад глухой" class="product__var_pic")
                                    .product__var_title Фасад глухой
                                .col.col--md-3.col--xs-6.col--sm-6
                                    img(src=IMG_PATH + 'production/single/variants/var2.svg' alt="Витрина" class="product__var_pic")
                                    .product__var_title Витрина
                                .col.col--md-3.col--xs-6.col--sm-6
                                    img(src=IMG_PATH + 'production/single/variants/var3.svg' alt="Решетка" class="product__var_pic")
                                    .product__var_title Решетка
                                .col.col--md-3.col--xs-6.col--sm-6
                                    img(src=IMG_PATH + 'production/single/variants/var4.svg' alt="Декоративная решетка" class="product__var_pic")
                                    .product__var_title Декоративная решетка


                        section.product__section
                            .row
                                .col.col--xs-12
                                    h2.ui__content_subtitle Дополнительные элементы
                            .row.product__dop
                                .col.col--md-6
                                    img(src=IMG_PATH + 'production/single/dop1.jpg' alt="Декор" class="product__dop_pic")
                                    .product__dop_title Декор
                                .col.col--md-6
                                    img(src=IMG_PATH + 'production/single/dop2.jpg' alt="Декор" class="product__dop_pic")
                                    .product__dop_title Декор


                        section.product__section
                            h2.ui__content_subtitle Популярные цвета
                            .product__colors
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview1.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col1.jpg' alt="Цвет1" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview2.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col2.jpg' alt="Цвет2" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview3.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col3.jpg' alt="Цвет3" class="product__colors_pic")
                                a.product__colors_item(href="#preview" data-img=IMG_PATH + 'production/single/preview4.jpg' class="js_preview")
                                    img(src=IMG_PATH + 'production/single/colors/col4.jpg' alt="Цвет4" class="product__colors_pic")


                        section.product__section
                            h2.ui__content_subtitle Фасады из этой категории
                            .ui__prodslider.owl-carousel.js_prodslider
                                include ../blocks/_ui_prodslider
                                +ui__prodslider(
                                    'default',
                                    {
                                        img: IMG_PATH + 'catalog/cat1.jpg',
                                        title: 'Альберо дерево',
                                        link: '#'
                                    },
                                    {
                                        img: IMG_PATH + 'catalog/cat2.jpg',
                                        title: 'Констанция',
                                        link: '#'
                                    },
                                    {
                                        img: IMG_PATH + 'catalog/cat3.jpg',
                                        title: 'Альберо диретто',
                                        link: '#'
                                    },
                                    {
                                        img: IMG_PATH + 'catalog/cat4.jpg',
                                        title: 'Балтимора',
                                        link: '#'
                                    },
                                    {
                                        img: IMG_PATH + 'catalog/cat5.jpg',
                                        title: 'Альберо луиза',
                                        link: '#'
                                    }
                                )

block footer
    include ../layout/_footer

block modals
    include ../modals/_m_call
    include ../modals/_m_catalog
    include ../modals/_m_letter
